<?- include('_header') ?>

    <!-- MAIN -->
    <main>
        <h1 class="title">Dashboard</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Dashboard</a></li>
        </ul>
        <div class="info-data">
            <div class="card">
                <div class="head">
                    <div>
                        <h2><?= images ?></h2>
                        <p>Images</p>
                    </div>
                    <i class="bx bxs-image icon"></i>
                </div>
                <span class="progress" data-value="100%"></span>
                <span class="label">includes all</span>
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2><?= apis ?></h2>
                        <p>APIs</p>
                    </div>
                    <i class="bx bx-code-curly icon"></i>
                </div>
                <span class="progress" data-value="100%"></span>
                <span class="label">includes all</span>
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2><?= keys ?></h2>
                        <p>Keys</p>
                    </div>
                    <i class="bx bxs-key icon"></i>
                </div>
                <span class="progress" data-value="100%"></span>
                <span class="label">includes all</span>
            </div>
            <div class="card">
                <div class="head">
                    <div>
                        <h2><?= request ?></h2>
                        <p>Requests</p>
                    </div>
                    <i class="bx bxs-report icon"></i>
                </div>
                <span class="progress" data-value="100%"></span>
                <span class="label">includes all</span>
            </div>
        </div>
        <div class="data">
            <div class="content-data">
                <div class="head">
                    <h3>Console (coming soon)</h3>
                </div>
                <div class="console"></div>
            </div>
            <div class="content-data">
                <div class="head">
                    <h3>Chat</h3>
                </div>
                <div class="chat-box">
                    <p class="day"><span>to be implemented.</span></p>
                    <div class="system">
                        <div class="chat">
                            <p>Chats here will not be deleted even if you reload this website.</p>
                        </div>
                    </div>
                </div>
                <form class="form-chat">
                    <div class="form-group">
                        <input class="send-chat" type="text" placeholder="Type..." />
                        <button type="submit" class="btn-send">
                            <i class="bx bxs-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

<?- include('_footer') ?>