<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ShiroAPI - Login</title>
		<meta name="title" content="ShiroAPI - Login" />
		<meta name="theme-color" content="currentColor" />
		<meta name="description" content="Made with &#10084; by ShiroKazane." />
		<meta
			name="keywords"
			content="shiroapi, shiro api, shirokazane, rest api, restful api, image, neko" />
		<meta name="author" content="ShiroKazane" />
		<meta name="url" content="api.shirokazane.my.id/auth/login" />
		<meta name="og:title" content="ShiroAPI - Login" />
		<meta name="og:type" content="website" />
		<meta name="og:url" content="api.shirokazane.my.id/auth/login" />
		<meta name="og:image" content="/image/c9XJcP-w0n9ls7E" />
		<meta name="og:site_name" content="ShiroAPI" />
		<meta name="og:description" content="Made with &#10084; by ShiroKazane." />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="api.shirokazane.my.id/auth/login" />
		<meta name="twitter:creator" content="@ShiroKazane" />
		<meta name="twitter:title" content="ShiroAPI - Login" />
		<meta
			name="twitter:description"
			content="Made with &#10084; by ShiroKazane." />
		<meta name="twitter:image" content="/image/c9XJcP-w0n9ls7E" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
		<style>
			@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: 'Poppins', sans-serif;
			}

			body {
				display: flex;
				padding: 0 10px;
				align-items: center;
				justify-content: center;
				min-height: 100vh;
				background: #2f3136;
				cursor: default;
				-webkit-user-select: none;
				-webkit-touch-callout: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.wrapper {
				max-width: 500px;
				background: #36393f;
				border-radius: 7px;
				padding: 20px 25px 15px;
			}

			header h1 {
				font-size: 20px;
				font-weight: 600;
				color: #fff;
				padding-bottom: 16px;
			}

			header p {
				font-size: 16px;
                font-weight: 400;
				color: #a3a6aa;
			}

            .wrapper button {
                display: flex;
                justify-content: center;
            }

			button {
				display: flex;
				align-items: center;
				margin: 20px auto 5px;
				width: 80%;
				border: none;
				outline: none;
				color: #fffafa;
				cursor: pointer;
				font-size: 16px;
				padding: 12px;
				border-radius: 5px;
				background: #6370f4;
			}

			button:hover {
				background: rgba(99, 112, 244, .76);
				color: rgba(255, 250, 250, .76)
			}

			button i {
				font-size: 20px;
				padding-right: 10px;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Login</h1>
				<p>Please login to access this page.</p>
			</header>
			<button onclick="window.location.href='/auth/discord'">
				<i class="fa-brands fa-discord"></i>Login with Discord
			</button>
		</div>
	</body>
</html>
