<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ShiroAPI - 401 Unauthorized</title>
		<style>
			body {
				font-family: 'Courier New', monospace;
			}

			@media (prefers-color-scheme: dark) {
				body {
					background: black;
					color: white;
				}
			}
		</style>
	</head>
	<body>
		<h1>Unauthorized</h1>
		<p>
			This server could not verify that you are authorized to access the
			document requested. Either you supplied the wrong credentials (e.g., bad
			password), or your browser doesn't understand how to supply the
			credentials required.
		</p>
	</body>
</html>
