<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ShiroAPI - 500 Internal Server Error</title>
		<style>
			body {
				font-family: 'Courier New', monospace;
			}

			@media (prefers-color-scheme: dark) {
				body {
					background: black;
					color: white;
				}
			}
		</style>
	</head>
	<body>
		<h1>Internal Server Error</h1>
		<p>
			This server encountered an unexpected condition. See Terminal for more
			information.
		</p>
	</body>
</html>
